@import url('https://rsms.me/inter/inter-ui.css');

h1 {
  font-family: 'Inter UI', sans-serif;
}

h2 {
  font-family: 'Inter UI', sans-serif;
}

p {
  font-family: 'Inter UI', sans-serif;
}

.container {
  text-align: center;
}